.project-name {
  font: 24px sans-serif;
  font-weight: 580;
  text-anchor: middle;
}

.level-line {
  stroke-width: 1px;
  stroke-opacity: 1;
  stroke-dasharray: 20 5 3 5;
  stroke-linecap: round;
  stroke: #888;
  shape-rendering: crispEdges;
}

.level-label {
  font: 15px sans-serif;
  font-weight: 580;
  text-anchor: end;
  user-select:  none;
}

.level-label-box {
  stroke-width: 1px;
  stroke: #000;
  shape-rendering: crispEdges;
  fill: none;
}

.room {
  fill-opacity: 0.6;
  stroke: #222d32;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}

.room:hover {
  fill-opacity: .4;
}

.room-label {
  font: 12px sans-serif;
  font-weight: 500;
  text-anchor: middle;
  font-variant: all-small-caps;
  user-select:  none;
}

.room-surface {
  font: 8px sans-serif;
  font-weight: 400;
  text-anchor: middle;
  font-style: italic;
  user-select:  none;
}

.bur {
  fill: #e377c2;
}

.pc {
  fill: #1f77b4;
}

.lt {
  fill: #7fb632;
}

.ground-cut {
  fill: none;
  stroke-width: 3px;
  stroke: #222d32;
  stroke-linejoin: round;
}

.ground-hatch {
  fill-opacity: .75;
  fill: url(#earthHatch);
}

.underground-hatch {
  fill-opacity: .5;
  fill: #bbb;
}